exi-stream-domain/src/main/xsd/forecast.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="forecast">
        <xs:complexType>
            <xs:attribute name="site-id"/>
            <xs:attribute name="time-step"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
